<div class="name-container">
  <form class="name-form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>El nombre ingresado es {{ nameForm() }}</p>
    <h2>Formulario</h2>
    <label for="name">Nombre *</label>
    <input class="w.full" [ngClass]="{'ng-invalid ng-dirty': name.invalid && name.touched}" autocomplete="off"
      name="name" text id="name" style="font-family: Verdana, Geneva, Tahoma, sans-serif" formControlName="name" />
    @if (name.hasError('required') && name.touched) {
    <p class="text-error">* El campo nombre es requerido</p>
    }
    @if (name.hasError('minlength')) {
    <p class="text-error">* El campo nombre debe tener como mínimo 8 caracteres</p>
    }
    @if (name.hasError('email')) {
    <p class="text-error">* El campo nombre no tiene la estructura de la validación de correo</p>
    }

    <label for="nameConfirm">Confirmar Nombre *</label>
    <input class="w.full" [ngClass]="{'ng-invalid ng-dirty': nameConfirm.invalid && nameConfirm.touched}"
      autocomplete="off" name="nameConfirm" text id="nameConfirm"
      style="font-family: Verdana, Geneva, Tahoma, sans-serif" formControlName="nameConfirm" />
    @if (nameConfirm.hasError('required') && nameConfirm.touched) {
    <p class="text-error">* El campo nombre confirmar es requerido</p>
    }
    @if (nameConfirm.hasError('minlength')) {
    <p class="text-error">* El campo nombre confirmar debe tener como mínimo 8 caracteres</p>
    }
    @if (nameConfirm.hasError('email')) {
    <p class="text-error">* El campo nombre confirmar no tiene la estructura de la validación de correo</p>
    }

    @if (form.getError('mustBeEqual')) {
      <p class="text-error"> * Los nombres no coinciden</p>
    }
    <button type="submit" class="name-button">Guardar</button>
  </form>
</div>
