<h1>Bienvenido al componente de prueba de ruta</h1>

<br><br><br>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users(); track user.name) {
    <tr>
      <td>{{ user.id}}</td>
      <td>{{ user.name}}</td>
      <td>{{ user.email}}</td>
    </tr>
    } @empty {
    <tr class="empty-row">
      <td colspan="3">No se encontraron usuarios.</td>
    </tr>
    }
  </tbody>
</table>
<br><br><br>

<button (click)="regresarPaginaAnterior()">Atrás</button>
